@charset "utf-8";

/* 
[CSS 작성 순서 (수업 기준)]
1. 위치(배치)/정렬
2. 사이즈/여백
3. 폰트/컬러 관련
4. 기타
*/

.logo a {
  border: 1px solid red;

  width: 300px;
  /* height: 200px; */

  display: inline-block;
}

.logo img {
  width: 100%;
  /* height: 100%; */

  /* object-fit: cover; */
}


.img > div {
  width: 500px;
  height: 300px;

  border: 1px solid #000;
}

.img img {
  width: 100%;
  height: 100%;
}

.img div:nth-child(2) img {
  object-fit: none;
  /* 원본 크기 유지 */
}

.img div:nth-child(3) img {
  object-fit: contain;
  /* 비율 유지, 전체 보이게 */
}

.img div:nth-child(4) img {
  object-fit: scale-down;
  /* none, contain 중 작은 쪽 */
}

.img div:nth-child(5) img {
  object-fit: cover;
  /* 비율 유지, 꽉 채움 */
}

.img div:nth-child(6) img {
  object-fit: fill;
  /* 비율 유지, 꽉 채움 */
}