@charset "utf-8";

/* 
[CSS 작성 순서 (수업 기준)]
1. 위치(배치)/정렬
2. 사이즈/여백
3. 폰트/컬러 관련
4. 기타
*/

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.list_wrapper {
  margin: 0 auto;

  width: 1440px;

  border: 3px solid aqua;
}

.list_wrapper > * {
  box-sizing: border-box;
}


.list-item {
  float:left;

  width: 348px;
  border:1px solid red;
}
.list-item:not(:nth-child(4n+1)) {
  margin-left: 16px;
}
.list-item:not(:nth-child(-n+4)) {
  margin-top: 50px;
}


.list-item__img {
  /* border: 1px solid blue; */
  width: 100%;
  height: 400px;
}