@charset "utf-8";

/* 절대 단위 */

/* 2) width: ??px
- 부모 width: 1600px
- 자식 5개, 여백 4개
- 자식 width: ??px, 여백 10px

②자식(아이템) width값 = {①임의의 부모 width값 - (⑤자식(아이템) 여백 margin값 * ④자식(아이템) 여백 개수)} / ③자식(아이템) 개수
= ?? = {1600 - (10 * 4)} / 5 = 312

--> 자식 width: 312px */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.list_wrapper {
  margin: 0 auto;
  width: 1600px;
  border: 3px solid aqua;
}

.list_wrapper > * {
  box-sizing: border-box;
}

.list-item {
  float: left;
  width: 312px;
  border: 1px solid red;
}

.list-item:not(:nth-child(4n+1)) {
  margin-left: 10px;
}

.list-item:not(:nth-child(-n+5)) {
  margin-top: 50px;
}


.list-item__img {
  border: 1px solid blue;
  width: 100%;
  height: 400px;
}

