@charset "utf-8";


* {
  margin: 0;
  padding: 0;
  vertical-align: top;
  /* box-sizing: border-box; */
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}