@charset "utf-8";

* {
  background-color: hsla(0, 100%, 50%, 0.063);
}

h1 {
  color: blue;
}

#inline {

}

h3, p, pre {
  width: 500px;
  height: 100px;
}

a, img, span {
  width: 100px;
  height: 100px;
}

.block > *:nth-child(1) {
  display: inline;
}

.block span {
  color:red;
}

h2 ~ h3 {
  background-color: #0000ff;
}