@charset "utf-8";

body {
  background-color: #f0f0f0;
}


@font-face {
    font-family: 'GounBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
}

* {
  font-family: 'GounBatang', serif;
}
  