@charset "utf-8";
/* CSS 문자 인코딩 설정 *css 파일 가장 최상단에 작성 */

body {
    background-color: red;
}

p {
    color:green;
    /* color:green !important; */
    /* !important : 우선순위 가장 최상위
    불가피한 경우에만 사용(최대한 사용 지양) 
    */
}