@charset "utf-8";
html {
  /* 스크롤 부드럽게 이동 */
  scroll-behavior: smooth;
}

* {
  margin:0;
  /* body, h1~h6, p, ul, ol, dl>dd .. */
  padding: 0;
  /* ul, ol, th, td, input, fieldset, button, textarea, select .. */

  /* 리스트 태그(li)의 기본 마커 (불릿, 숫자 등) 제거 */
  list-style: none;

  /* 미디어 요소의 하단 여백 제거 */
  vertical-align: top;
}
a {
  color: inherit;
  text-decoration: none;
}