@charset "utf-8";

.box {
  width: 600px;
}

#box1 {
  background-color: #f0f0f0;
}

#box2 {
  background-color: #000;
}

.box > div {
  /* float: left; */
  width: 100px;
  height: 100px;
}

.box > div:nth-child(1) {
  /* float: left; */
  background-color: #EE2658;
}

.box > div:nth-child(2) {
  /* float: left; */
  background-color: #3f56a6;
}

.box > div:nth-child(3) {
  /* float: left; */
  background-color: #fede12;
}

/* .box > div:last-child {
  clear: both; 
  /* 부모가 자식을 인식하게 만들어 오류(꺠짐현상)이 없게 만드는 역할..? 
} */


.clearfix::after {
  content: "test!";
  /* background-color: red;
  width: 300px;
  display: block; */
  display: block;
  clear: both;
}