@charset "utf-8";

.box {
  width: 500px;
  /* height: 500px; */
  border:3px solid red;
  /* overflow: hidden; */
}

#box1 {
  background-color: #f0f0f0;
}

#box2 {
  background-color: #000;
}

.box > div {
  float: left;
  width: 100px;
  height: 100px;
}
.box > div:nth-child(1) {
  /* float: left; */
  background-color: #EE2658;
}
.box > div:nth-child(2) {
  /* float: left; */
  background-color: #3f56a6;
}
.box > div:nth-child(3) {
  /* float:left; */
  background-color: #fede12;
}
